.add_card {
  background-color: rgb(28, 242, 231);
  color: deeppink;
  padding: 1rem 2rem 4rem 1rem;
  max-width: 30rem;
}
/* .add_card li {
  margin: 1rem 0rem;
} */

.add_card-form textarea {
  height: 100px;
  width: 200px;
}

.add-new_CardButton {
  background-color: rgb(155, 84, 178);
  color: limegreen;
  border: 2px solid violet;
  border-radius: 8px;
  height: 50px;
  width: 150px;
  margin-top: 10%;
}
.add-new_CardButton:hover {
  background-color: purple;
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0;
}

.tag_input {
  height: 30px;
  width: 200px;
}

.input_label {
  margin-top: 5%;
}
